#contact{
    padding: 60px 40px;
    text-align: center;
}

.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 15px; /* espacio entre correo y linkedin */
    align-items: center;
}

.imageLinkedin{
    width: 80px;
    height: 80px;
}

.emailLink{
    color: #16A085;
    text-decoration: none;
}

.emailLink:hover{
    color: #374B25;
}
