.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #B0C4B1;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif*/
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #415d78; /* color al pasar mouse */
}

.languageSelector {
  position: relative;
  display: inline-block;
}

.language-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  top: 40px; /* ajusta para que aparezca debajo del icono */
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.language-menu button {
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.language-menu button:hover {
  background-color: #f0f0f0;
}