#project{
    padding: 60px 40px;
    /*background-color: #F7E1D7;*/
}

h1{
    color: #2C3E50;
}

.projectContainer{
    padding: 20px;;
    display: grid;
    grid-template-columns: 1fr; /* Por defecto: 1 columna móvil */
    gap: 20px;
    align-items: center;
    color: #415d78;
    text-align:center;
    box-sizing: border-box;
    width: 100%;
}

/* Tablet (pantallas >= 600px) */
@media (min-width: 600px) {
    .projectContainer {
        grid-template-columns: 1fr 1fr;   /* Dos columnas medianas */
    }
}

/* Escritorio grande (pantallas >= 1000px) */
@media (min-width: 1000px) {
    .projectContainer {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    }
}

.projectCard {
  margin-left: 0;
  width: 100%;           /* Ancho fluido */
  max-width: 400px;      /* Máximo de 400px */
  height: 500px;         /* Opcional: ajusta si es necesario */
  margin: 0 auto;        /* Centra la tarjeta si sobra espacio */
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.projectDescription {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 62, 80, 0.9);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  text-align: justify;
}

/* Mostrar la descripción al hacer hover en el contenedor */
.projectCard:hover .projectDescription {
  opacity: 1;
}

.link{
  text-decoration: none;
  color: #fff;
}




