* {
  margin: 0;
  padding: 0;
}

html, 
body { font-size: 18px;
        background-color: #ECF0F1;
        scroll-behavior: smooth;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*.contenedor-principal{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}*/
